
    

      <div class="scroll">
        <mat-nav-list class="mat-nav-list" role="navigation">
          <h3 class="text-uppercase font-weight-bold mat-subheader" mat-subheader="">Settings</h3>
          <mat-list-item class="mat-list-item">
            <div class="mat-list-item-content">
              <div class="mat-list-item-ripple mat-ripple" mat-ripple="">
      
              </div>
              <div class="mat-list-text">
      
              </div>
              
              <mat-slide-toggle>RTL</mat-slide-toggle>
      </div>
      </mat-list-item>
      <mat-list-item class="mat-list-item">
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" mat-ripple="">
      
          </div>
          <div class="mat-list-text">
      
          </div>
          <mat-slide-toggle>Boxed Layout</mat-slide-toggle>
         
      </div>
      </mat-list-item>
      
      <mat-divider></mat-divider>
      
      <h3 class="text-uppercase font-weight-bold mat-subheader" mat-subheader="">Colors</h3>
      <mat-list-item class="mat-list-item">
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
          <div class="mat-list-text"></div>
          <mat-checkbox style="color: red">Red</mat-checkbox>
      </div>
      </mat-list-item>
      <mat-list-item class="mat-list-item">
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" mat-ripple="">
      
          </div>
          <div class="mat-list-text">
      
          </div>
          <mat-checkbox style="color:teal">Teal Green</mat-checkbox>
        </div>
      </mat-list-item>
      <mat-list-item class="mat-list-item">
          <div class="mat-list-item-content">
            <div class="mat-list-item-ripple mat-ripple" mat-ripple="">
        
            </div>
            <div class="mat-list-text">
        
            </div>
            <mat-checkbox style="color: blue">Blue</mat-checkbox>
          </div>
        </mat-list-item>
        <mat-list-item class="mat-list-item">
            <div class="mat-list-item-content">
              <div class="mat-list-item-ripple mat-ripple" mat-ripple="">
          
              </div>
              <div class="mat-list-text">
          
              </div>
              <mat-checkbox style="color: black">Dark</mat-checkbox>
            </div>
          </mat-list-item>
      </mat-nav-list>
      </div>  

    
    
  

 

